<nav>
    <div>
        <img src="/static/icon.svg">
        <p>Rocket<br />Database</p>
    </div>
    <div>
        <a>Engines</a>
        <a>Spaceflights</a>
        <a>Programs</a>
        <a>Contribute</a>
    </div>
</nav>